<p id="notice"><%= notice %></p>

<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@account.errors.count, "error") %></h2>
 
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Account holder number:</strong>
  <%= @account.account_holder_number %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type %>
</p>


  <form action="<%=transactions_do_deposit_path %>" method="post" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  
   <input type="hidden" name="account_id" value="<%= @account.id %>">

    Total Balance:
    <%= @account.balance %>
    <br><br>
    Ammount To Deposit
    <input type="text" name="deposit_amount" value="<%= @account.balance %>"><br>

    <input type="submit">
  </form> 

<%= link_to 'Back', root_path %>
