<p id="notice"><%= notice %></p>
<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@account.errors.count, "error") %></h2>
 
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>




<table class="table table-bordered">
  <thead>
  <tr>
    <th>Account number</th>
    <th>Total Balance</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @account.account_number %></td>
      <td><%= @account.balance %></td>
    </tr>
  </tbody>

</table>

  <div class="form-inline">
    <form action="<%=transactions_do_withdraw_path %>" method="post" >
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <input type="hidden" name="account_id" value="<%= @account.id %>">
      <br><br>
      <h4><span class="label label-default">Enter Amount For Withdrawal</span></h4>
      <input type="text" name="withdraw_amount" class="form-control" value="<%= @account.balance %>">
      <button class="btn btn-default" type="submit">Submit</button>
    </form> 
  </div>

<br><br><br><br>
<%= link_to 'Back', root_path %>
