<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>Account number |</th>
    <th>Name |</th>
    <th>Account holder number |</th>
    <th>Balance |</th>
    <th>Address |</th>
    <th>Account type</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @account.account_number %></td>
      <td><%= @account.name %></td>
      <td> <%= @account.account_holder_number %></td>
      <td><%= @account.balance %></td>
      <td><%= @account.address %></td>
      <td><%= @account.account_type %></td>
    </tr>
  </tbody>
</table>  





<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
